@import "tailwindcss";
/* @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400'; */
* {
  outline: none;
}

.search-bar {
  /* Ensure it's centered in the navbar */
  position: absolute;
  top: 6%;
  left: 55%;
  transform: translate(-50%, -50%); /* Centers the input box */
  width: 35%; /* Adjust the width as needed */
  padding: 7px 10px;
  border-radius: 99px;
  background-color: #181A1B; /* Dark background */
  color: white;
  outline: none;
  z-index: 15;
  text-align: center;
}

.search-bar::placeholder {
  color: #888;
  text-align: center;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
